body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
}

.container-color {
    margin: auto;

    width: 50%;
    height: 80%;

    background-color: blue;
    border: 3px outset navy;
    border-radius: 5px;
}

.container-base {
    margin: auto;

    width: 98%;
    height: 92%;

    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
}

.window-title {
    margin: 5px 20px;
    color: white;
}