body {
    margin: 0px;
    background-color: bisque;
    overflow-x: hidden;
}

#title {
    text-align: center;
    font-size: 70px;
}

.section {
    text-align: center;
}

.left-sub {
    background-color: grey;
    width: 100%;

    text-align: left;
    font-size: 50px;
}

#effects {
    position: absolute;
    left: 10%;
    top: 11%;
    
    width: 40px;
    height: 40px;
}

#effects-text {
    position: absolute;
    left: 15%;
    top: 11%;

    font-size: 30px;
}

#tip {
    z-index: 9999;
    position: absolute;

    width: 200px;
    height: 100px;

    background-color: white;

}

.grid {
    max-width: 95%;
    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
}

#p1 > .grid{
    height: 200%;
}

#p2 > .grid{
    height: 200%;
}

#p3 > .grid{
    height: 200%;
}

#p4 > .grid{
    height: 200%;
}

#p5 {
    cursor: pointer;
}


/* images */

.art {
    padding: 0px;

    width: 100%;
    height: 100%;
    
    background-size: 101%;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: inset 0 0 4px 4px bisque; 

    transition: box-shadow 0.5s ease-in-out,
    background-size 1s ease-in-out;
}

/* .art:hover {
    box-shadow: none;
    background-size: 92%;
} */

.mini {
    margin-bottom: 10px;
    min-width: 20vw;

    height: 58vh;
}

.small {
    margin-bottom: 10px;
    min-width: 36vw;

    height: 58vh;

}

.med {
    margin-bottom: 10px;
    min-width: 31.3vw;
    min-height: 89vh;
}

.med2 {
    position: relative;
    margin-bottom: 10px;
    min-width: 23vw;
    min-height: 60vh;
}

.large {
    margin-bottom: 10px;
    min-width: 94vw;
    min-height: 80vh;

    
}

.pcard {
    z-index: 999;
    text-align: left;
    background-color: antiquewhite;
    padding: 5px;
    position: absolute;
    width: 200px;
    height: 70px;
    bottom: 10%;
    right: 5%;
}

.ctitle {
    font-size: 20px;
    font-weight: bold;
}

.i {
    font-style: italic;
}

#whatIf {
    background-image: url('https://64.media.tumblr.com/f013dee6ab8579cea8d46a5857b6d608/3b52847f8ad994fc-3a/s1280x1920/6fe1c19444cfd6892aa42446f2645747226e1b2f.pnj');
    
}

#whatTime {
    background-image: url('images/art/whatTime.jpg');
    background-size: contain !important;
}

#noHome {
    background-image: url('images/art/noHome.jpg');
}

#makotoKonno {
    background-image: url('images/art/maKO1.jpg');
}

#chiakiMamiya {
    background-image: url('images/art/chiMA1.jpg');
}

#kousukeTsuda {
    background-image: url('images/art/koTSU1.jpg');
}

#arvio {
    background-image: url('https://64.media.tumblr.com/83a616492694f45027cdac97bcc45b5d/134590b0e8558100-65/s1280x1920/1b8d45b901426d9368112ffd9877c953fb9c5553.pnj');
}

#ladder {
    background-image: url('https://64.media.tumblr.com/6bd32aef731be184047da8ad372ce087/9662747e78bb6a82-ca/s1280x1920/64709a57f2a48427d713b5f6061daf6bbfab2c33.pnj');
}

#showdown {
    background-image: url('https://64.media.tumblr.com/a7402d831f60f055944259c5165e9a67/57da6788df0788d6-a8/s1280x1920/67c33926da40526b32bf4a24ca081d2571b59772.pnj');
}

#yakmel {
    background-image: url('https://64.media.tumblr.com/161c9a5b058774d5cab944956b868620/60c325d9696be3c4-76/s1280x1920/3470aabbf3430c0ec6f6d0e919e2874b12518a34.pnj');
}

#riren {
    background-image: url('images/art/riren.jpg');
}

#ville {
    background-image: url('https://64.media.tumblr.com/86b28ffcd42b5b6955e70027b5d0580a/f10ecfa37adbf00f-b2/s1280x1920/1f0b2cda3fed9ffb91640e3877d1159ba4852dad.pnj');
}

#echo {
    background-image: url('images/art/echo.jpg');
}

#knights {
    background-image: url('images/art/knights.jpg');
}

#fairy {
    background-image: url('images/art/fairy.jpg');
}

#childe {
    background-image: url('images/art/childe.jpg');
}

#neko {
    background-image: url('https://64.media.tumblr.com/1e87f514c3ebe7bae558c4867efa2b24/9ac8154ce5e79b45-de/s1280x1920/98a59dde135fa125e39c15c68f912024ce82213e.pnj');
}

#whwb {
    background-image: url('images/art/whwb.jpg');
}



#ph {
    background-image: url('images/art/ph.jpg');
}

#tri {
    background-image: url('images/art/tri.jpg');
}

#mj {
    background-image: url('images/art/mj.jpg');
}

#bonfire {
    background-image: url('images/art/bonfire.jpg');
}

#leja {
    background-image: url('images/art/leja.jpg');
}

#exp {
    background-image: url('images/art/exp.jpg');
}


/* disco disco */

#hdb {
    background-image: url('images/disco/harry.jpg')
}

#kk {
    background-image: url('images/disco/Kim.jpg')
}

#kl {
    background-image: url('images/disco/klaasje.jpg')
}

#ftw {
    background-image: url('images/disco/ftw.jpg')
}

#piss {
    background-image: url('images/disco/piss.jpg')
}

#ckl {
    background-image: url('images/disco/ckl.jpg')
}

#lena {
    background-image: url('images/disco/lena.jpg')
}

#more {
    background-image: url('images/disco/morell.jpg')
}

#jean {
    background-image: url('images/disco/jean.jpg')
}

#chester {
    background-image: url('images/disco/chester.jpg')
}

#dice {
    background-image: url('images/disco/dice.jpg')
}

#judit {
    background-image: url('images/disco/judit.jpg')
}