body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

#block-main {
    position: relative;

    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;

    background-color: rgb(126, 196, 243);
}

#block-inf {
    z-index: 0;

    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;

    background-color: cornflowerblue;
}

#ad-banner {
    z-index: 999;

    position: absolute;
    

    margin-top: -50px;
    padding: 0px;

    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 50px;
    height: 50px;
    font-size: 40px;

    background-color: orange;
}

#block-ad {
    z-index: 0;

    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 70vh;

    background-color: lightgreen;
}

#main-deco {
    z-index: 999;
    position: absolute;
    min-width: 70%;
    min-height: 90vh;

    top: 5%;
    left: 15%;
}

#comment {
    z-index: 99;
    position: absolute;
    
    width: 20%;
    height: 62%;

    top: 20%;
    left: 5%;

    text-align: center;

    background-image: url('images/index/window1.jpg');
    background-size: 210%;
    background-position: center;
}

#comment > .body {
    margin: 30px;
    font-size: 2.2vh;
}

.commenttitle {
    font-size: 5vh;
    color: orangered;
}

#title {
    position: absolute;
    border: 1px solid black;
    width: 400px;
    height: 150px;

    top: 5%;
    right: 15%;
}

#home-nav {
    z-index: 1000;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    top: 20%;
    right: -65%;

    width: 25%;
    height: 50%;
    
    padding: 0px;
    margin: 0px;
    gap: 5px;    
}

.in-button {
    width: 100%;
    height: 100%;

    align-content: center;
    text-align: center;
    font-size: 50px;

    border-radius: 5px;
    background-color: rgb(70, 126, 230);
    border: 8px outset rgb(255, 243, 230);
    color: white;

    cursor: pointer;
}

.in-button:hover {
    background-color: rgb(11, 75, 196);
    border: 8px inset rgb(255, 243, 230);
    color: orange;
}

#index-ul > li {
    display: flex;
    
    height: 100px;
    align-items: center;
    justify-content: center;

    margin: 5px;
    font-size: 50px;
    text-align: center;
    border-radius: 50px;

    background-color: brown;
    
}


/* text */

.com-main {
    font-size: 30px;
}

/* images */

#main-deco .image {

    position: absolute;
    inset: 0;

    background-size: contain;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
}

#i1 {
    background-image: url('images/index/i_1.png') !important
}

#i2 {
    background-image: url('images/index/i_2.png') !important
}

#i3 {
    background-image: url('images/index/i_3.png') !important
}

#i4 {
    background-image: url('images/index/i_4.png') !important
}

#i5 {
    background-image: url('images/index/i_5.png') !important
} 

#i6 {
    background-image: url('images/index/i_6.png') !important
}

#i7 {
    background-image: url('images/index/i_7.png') !important
}

